/*index.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark; !* OS 설정에 따라 자동 다크/라이트 *!*/
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff; /* 기본: 어두운 배경 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff; !* 라이트 모드일 때 흰 배경 *!*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/

@layer base {
    li {
        @apply p-4
    }

    button {
        @apply text-white border bg-slate-600 border-slate-600
        hover:bg-transparent hover:text-slate-600 rounded-md
    }
}
